body {
    background-color: #19252a;
    margin: 0;
    font-family: "Cal Sans", sans-serif;
    overflow-x: hidden;
    overflow-y:scroll;
}

.daddyApp {
    width: 100vw;
    height: 100vh;
}

.coolHover {
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 20%;
    background: radial-gradient(
        rgba(255, 255, 255, 0.3) 0%,
        rgba(255, 255, 255, 0.17) 60%,
        transparent 100%
    );
    filter: blur(50px);
    z-index: 2;
}

.welcome {
    position: absolute;
    top: 75px;
    left: calc(50% - 225px);
    color: rgb(207, 207, 207);
    z-index: 2;
}

.shape {
    width: 100vw;
    height: 280px;
    background-color: #0c1316;
    box-shadow: 0px 0px 10px black;
    rotate: -7deg;
    scale: 2;
    translate: 0px -100px;
}

.formDiv {
    flex: 1;
    max-width: 900px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.57);
    box-shadow: 0px 0px 15px black;
    z-index: 2;
}

.daddy-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(207, 207, 207);
}