body {
    background-color: #19252a;
    margin: 0;
    font-family: "Cal Sans", sans-serif;
    overflow-x: hidden;
    overflow-y:scroll;
}

.daddyApp {
    width: 100vw;
    min-height: 200vh;
}

.coolHover {
    position: fixed;
    width: 250px;
    height: 250px;
    border-radius: 20%;
    background: radial-gradient(
        rgba(255, 255, 255, 0.3) 0%,
        rgba(255, 255, 255, 0.17) 60%,
        transparent 100%
    );
    filter: blur(50px);
    z-index: 5;
    pointer-events: none;
}

.welcome {
    position: absolute;
    top: 75px;
    left: calc(50% - 225px);
    color: rgb(207, 207, 207);
    z-index: 2;
}

.shape {
    width: 100vw;
    height: 280px;
    background-color: #0c1316;
    box-shadow: 0px 0px 10px black;
    rotate: -7deg;
    scale: 2;
    translate: 0px -100px;
}

.basicDiv {
    flex: 1;
    max-width: 900px;
    height: 112vh;
    margin-bottom: 50px;
    padding-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.57);
    box-shadow: 0px 0px 15px black;
    z-index: 2;
}

/* BasicForm */

.daddy-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(207, 207, 207);
    gap: 20px;
}

.personal-info {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-template-rows: 225px 225px 75px 70px;
    width: 90%;
    column-gap: 20px;
}

.inputs {
    font-size: 1.3em;
    padding: 5px;
    background-color: rgba(15, 37, 58, 0.634);
    color: white;
    font-family: VT323;
    transition: 0.4s ease;
    border: none;
}

.inputs:hover {
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.388);
}

.inputs:focus {
    animation: inputFocus 2.5s infinite alternate;
}

.submitBtn {
    grid-column-start: 1;
    grid-column-end: 4;
    margin-top: 30px;
    font-size: 1.5em;
    color: white;
    background-color: rgba(0, 0, 0, 0.57);
    border: 1px solid white;
    transition: 0.5s ease;
    cursor: pointer;
}

.submitBtn:hover {
    background-color: white;
    color: black;
}

@keyframes inputFocus {
    0% {
        background-color: black;
    } 100% {
        background-color: rgba(15, 37, 58, 0.634);
    }
}

/* BasicForm */


/* Skills */

.skillsForm {
    display: flex;
    flex-direction: column;
    width: 826px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.57);
    box-shadow: 0px 0px 15px black;
    z-index: 2;
}

.daddy-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(207, 207, 207);
    gap: 20px;
    margin-top: 30px;
    padding-bottom: 50px;
}

.addMoreBtn {
    flex: 1;
    margin-top: 30px;
    font-size: 1.5em;
    color: white;
    background-color: rgba(0, 0, 0, 0.57);
    border: 1px solid white;
    transition: 0.5s ease;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
}

.addMoreBtn:hover {
    background-color: white;
    color: black;
}

.removeBtn {
    flex: 1;
    margin-top: 30px;
    font-size: 1.5em;
    color: white;
    background-color: rgba(0, 0, 0, 0.57);
    border: 1px solid red;
    transition: 0.5s ease;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
}

.removeBtn:hover {
    background-color: red;
    border: 1px solid red;
}

/* Skills */

/* Work Experience */

.workForm {
    display: flex;
    flex-direction: column;
    width: 826px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.57);
    box-shadow: 0px 0px 15px black;
    z-index: 2;
}

.work-xp {
    display: grid;
    width: 90%;
    grid-template-columns: repeat(4, minmax(165px, 1fr));
    grid-template-rows: repeat(3, 80px);
    margin-top: 10px;
    column-gap: 20px;
}

/* Work Experience */

/* Education */

.educationForm {
    display: flex;
    flex-direction: column;
    width: 826px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.57);
    box-shadow: 0px 0px 15px black;
    z-index: 2;   
}

.edu-xp {
    display: grid;
    width: 90%;
    grid-template-columns: repeat(4, minmax(165px, 1fr));
    grid-template-rows: repeat(3, 80px);
    margin-top: 10px;
    column-gap: 20px;
}

/* Education */