body {
    background-color: #19252a;
    margin: 0;
    font-family: "Cal Sans", sans-serif;
    overflow: hidden;
}

.daddyApp {
    width: 100vw;
    height: 100vh;
}

.coolHover {
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 20%;
    background: radial-gradient(
        rgba(255, 255, 255, 0.3) 0%,
        rgba(255, 255, 255, 0.17) 60%,
        transparent 100%
    );
    filter: blur(50px);
    z-index: 1;
}